<% if current_employee %>
<p> Yo yo-yo-yo-yo buuuum, hello everybody </p>
<audio controls>
    <source src=/texttospeech/create type="audio/wav">
    <source src='hello_world.wav' type="audio/wav">    
</audio>
<%end%>